<h1 class="text-center"> Login </h1>

<div class="jumbotron">
<%= form_tag '/login' do%>
  <div style="display: flex; justify-content: center;">
    <h4>Email: <%= text_field_tag :email %></h4>
    <h4>Password: <%= password_field_tag :password%></h4>
  </div>
  <div style="display: flex; justify-content: center;">
    <%= submit_tag "Submit", class: 'btn btn-info' %>
  </div>
</div>
<% end %>