<h1>Admin Dashboard</h1>
<div class="jumbotron">
<h2><strong>Total Products:</strong> <span class="label label-info"><%= @products %></span></h2>
<h2><strong>Total Categories:</strong> <span class="label label-info"><%= @categories %></span></h2>

<%= link_to "See All Products", admin_products_url, class: "btn btn-primary"%>

</div>

